<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>testBody.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{35,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,10}}</string>
				<key>sourceSize</key>
				<string>{35,10}</string>
			</dict>

			<key>testDoubleWing.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,11},{12,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,44}}</string>
				<key>sourceSize</key>
				<string>{12,44}</string>
			</dict>

			<key>testRotor.png</key>
			<dict>
				<key>frame</key>
				<string>{{13,11},{8,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,14}}</string>
				<key>sourceSize</key>
				<string>{8,14}</string>
			</dict>

			<key>testRudder.png</key>
			<dict>
				<key>frame</key>
				<string>{{9,56},{4,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,5}}</string>
				<key>sourceSize</key>
				<string>{4,5}</string>
			</dict>

			<key>testWeapon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,56},{8,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,3}}</string>
				<key>sourceSize</key>
				<string>{8,3}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{64,64}</string>
			<key>textureFileName</key>
			<string>parts.png</string>
			</dict>
		</dict>
</plist>