<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,228},{14,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,18}}</string>
				<key>sourceSize</key>
				<string>{14,18}</string>
			</dict>

			<key>arrow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,154},{18,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,22}}</string>
				<key>sourceSize</key>
				<string>{18,22}</string>
			</dict>

			<key>flightPathHead.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,122},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,31}}</string>
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>

			<key>flightPathHeadOLD.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,228},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,15}}</string>
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>

			<key>goButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,221},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,26}}</string>
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>

			<key>hangarOptionEnd.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,177},{17,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,50}}</string>
				<key>sourceSize</key>
				<string>{17,50}</string>
			</dict>

			<key>hangarOptionMid.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{1,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1,50}}</string>
				<key>sourceSize</key>
				<string>{1,50}</string>
			</dict>

			<key>hangarOptionStart.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,177},{17,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,50}}</string>
				<key>sourceSize</key>
				<string>{17,50}</string>
			</dict>

			<key>newAircraftButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,55}}</string>
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>

			<key>scrapyardAdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,56},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>scrapyardDivide.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,188},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>scrapyardLocked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,155},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>scrapyardLockedv2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,122},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>scrapyardMultiply.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,89},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>scrapyardSolve.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,56},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>scrapyardSub.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,89},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>